{% extends "base.html" %}

{% block title %} About {% endblock%}

{% block content%}
<h1>About</h1>
{% endblock %}

{% block another_content %} 
<p>This project was made using Python Flask!. This is my step towards Web Development.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consectetur in quasi distinctio error maiores, non corporis, alias dolore doloremque quo exercitationem voluptatem delectus possimus consequuntur reprehenderit pariatur, eius et?</p>
<p>You can contact me <a href="/contact">Here</a></p>
{% endblock %}